on init
    chown system system /sys/kernel/thunderquake_engine/level
    chown 644 /sys/kernel/thunderquake_engine/level

service vendor.vibrator-note10pro /vendor/bin/hw/android.hardware.vibrator-service.note10pro
    class hal
    user system
    group system
